@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");
@import url("https://code.cdn.mozilla.net/fonts/fira.css?family=Fira Code:300,600");

.favicon {
  background-color: #1177bb;
  border-radius: 50%;
}
@media (max-width: 1000px) {
  /* .bg-drawing-bottom-bar .github-icon {
    top: 0.5vh;
    left: 1vh;
    width: 5vw;
    height: 5vw;
  }

  .bg-drawing-bottom-bar .check-icon {
    top: 0.5vh;
    right: 8vh;
    width: 5vw;
    height: 5vw;
  }
  .bg-drawing-bottom-bar .check-icon-1 {
    top: 0.5vh;
    right: 9vh;
    width: 5vw;
    height: 5vw;
  }
  .bg-drawing-bottom-bar .check-icon-text {
    width: 5vw;
    top: 0.5vh;
    right: 5vh;
  } */
  .bg-drawing-bottom-bar,
  .bg-drawing-bottom-bar .check-icon,
  .bg-drawing-bottom-bar .check-icon-1,
  .bg-drawing-bottom-bar .check-icon-text,
  .bg-drawing-bottom-bar .github-icon {
    display: none;
  }

  .bg-drawing .file-name-menu {
    display: none;
  }
  .bg-image > .summary {
    z-index: 1;
    margin-top: 1em;
    margin-left: 1em;
    overflow-x: auto;
    overflow-y: auto;
  }
  .body .bg-image {
    position: static;
    margin-left: 0;
  }
  .body .bg-drawing-bottom-bar {
    position: fixed;
    margin-left: 13.5vw;
    width: 72vw;
  }

  .body .bg-drawing-menu {
    margin-left: 16px;
    top: 1.5vh;
    left: 1.5vw;
  }

  .body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .bg-image .bg-drawing-button {
    margin: 4px;
    z-index: 20;
  }

  .bg-image * {
    z-index: 1;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .bg-image .bg-drawing {
    height: 68vh;
    top: 5em;
  }

  .bg-image .bg-drawing:before {
    height: 68vh;
  }
  .bg-image .summary {
    height: 62vh;
  }

  .bg-drawing-bottom-bar,
  .bg-drawing-bottom-bar .check-icon,
  .bg-drawing-bottom-bar .check-icon-1,
  .bg-drawing-bottom-bar .check-icon-text,
  .bg-drawing-bottom-bar .github-icon {
    display: none;
  }
}

@media (min-width: 1000px) {
  .bg-image {
    scale: 1;
  }
  .bg-drawing-menu:hover::after {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
    padding: 8px;
    width: 21vw;
    left: 3vw;
    background-color: #a6a6a6;
    color: #2e2e2e;
    position: absolute;
    content: attr(data-close-button);
    border-radius: 8%;
    z-index: 11;
  }
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #008bde;
  background-image: linear-gradient(
    45deg,
    #404784 0%,
    #6c58b7 6%,
    #6c58b7 6%,
    #e570e7 27%,
    #e570e7 44%,
    #e570e7 76%,
    #545bbf 100%
  );
  background-image: radial-gradient(
    circle at right,
    #404784 0%,
    #6c58b7 6%,
    #6c58b7 6%,
    #e570e7 27%,
    #e570e7 44%,
    #e570e7 76%,
    #545bbf 100%
  );
  color: #ce9178;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-image {
  position: relative;
  margin-left: -13vh;
}

.fade-out {
  display: block;
  inset: 0;
  animation: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.fade-in {
  display: block;
  inset: 0;
  animation-name: show;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.bg-drawing {
  width: 78vw;
  height: 78vh;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  background: #3a3d41;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: baseline;
}

.bg-drawing-top-bar {
  z-index: 3;
}

.bg-drawing:before {
  content: "";
  position: absolute;
  width: 78vw;
  height: 78vh;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  box-shadow: inset -5vw 3.5vh 0 5px #4d4d4d;
  z-index: 2;
}

.bg-drawing-bottom-bar {
  position: absolute;
  width: 72.7vw;
  height: 3.5vh;
  left: 0px;
  background-color: #3794ff;

  border-bottom-left-radius: 10px;
  margin-top: 74.6vh;
  z-index: 101;
}

.github-icon {
  top: 0.38vh;
  left: 0.38vw;
  width: 1.5vw;
  height: 1.5vw;
  stroke: #ffffff80;
  position: absolute;
}

.check-icon {
  width: 2vw;
  height: 2vw;
  margin-left: 65vw;
  stroke: #ffffff80;
  position: absolute;
}
.check-icon-1 {
  width: 2vw;
  height: 2vw;
  margin-left: 64.5vw;
  stroke: #ffffff80;
  position: absolute;
}
.check-icon-text {
  width: 2vw;
  height: 2vw;
  margin-left: 67vw;
  top: 0.5vw;
  color: #ffffff80;
  position: absolute;
}

.bg-drawing-menu {
  top: 0.25vh;
  left: 0.6vw;
  position: absolute;
  height: 2vw;
  width: 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.bg-drawing-button {
  border-radius: 50%;
  padding: 4px;
  width: 1vh;
  height: 1vh;
  position: relative;
  z-index: 11;
}
.bg-drawing-button:nth-child(1) {
  background: red;
  z-index: 20;
}
.bg-drawing-button:nth-child(2) {
  background: orange;
}
.bg-drawing-button:nth-child(3) {
  background: green;
}

.file-name-menu {
  top: 4.3vh;
  left: 0;
  width: 72.7vw;
  background: #3c3c3c;
  height: 2.5vh;
  position: absolute;
  z-index: 3;
}
.file-name {
  position: relative;
  padding: 2px 8px;
  content: "AboutMe.html";
  color: #a6a6a6;
  left: 0;
  width: 6vw;
  background: #2e2e2e;
  height: 2.5vh;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 5;
  cursor: pointer;
}

.file-name:hover::after {
  transition-delay: 0.1s;
  transform: scale(1);
  padding: 8px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a6a6a6;
  border-radius: 89% 8% 89% 8% / 8% 89% 8% 89%;
  color: #3a3d41;
  white-space: pre-line;
  content: attr(data-tooltip);
  position: fixed;
  z-index: 11;
}

.explorer-view-icon {
  width: 3vw;
  height: 3vw;
  margin-left: 1vw;
  margin-top: 1vw;
  fill: #4d4d4d;
  stroke: #a6a6a6;
  position: absolute;
}

.explorer-view-icon:nth-child(1) {
  margin-left: 0vw;
  margin-top: 2vw;
  position: absolute;
}

.right-menu {
  top: 4vh;
  right: 0vw;
  width: 5vw;
  position: absolute;
  stroke-width: 0.1vw;
  padding: 4px;
  z-index: 2;
}

.play-debug-icon {
  width: 3.5vw;
  height: 3.5vw;
  margin-left: 0.5vw;
  margin-top: 8vw;
  fill: #4d4d4d;
  stroke: #a6a6a6;
  position: absolute;
  stroke-width: 0.1vw;
}

.extension-icon {
  width: 2vw;
  height: 2vw;
  margin-left: 0.5vw;
  margin-top: 15vw;
  fill: #4d4d4d;
  stroke: #a6a6a6;
  position: absolute;
  stroke-width: 0.2vw;
}

.extension-icon1 {
  width: 2vw;
  height: 2vw;
  margin-left: 0.5vw;
  margin-top: 16.5vw;
  fill: #4d4d4d;
  stroke: #a6a6a6;
  position: absolute;
  stroke-width: 0.2vw;
}
.extension-icon2 {
  width: 2vw;
  height: 2vw;
  margin-left: 2vw;
  margin-top: 16.5vw;
  fill: #4d4d4d;
  stroke: #a6a6a6;
  position: absolute;
  stroke-width: 0.2vw;
}

.bg-shape {
  border-radius: 60% 40% 72% 28% / 24% 36% 64% 76%;
  background-color: #4d4d4d;
  opacity: 80%;
  height: 80vh;
  width: 90vw;
  position: fixed;
  top: 5em;
  left: 5em;
  z-index: -1;
}

body {
  margin-top: 8em;
  width: 65em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.summary {
  margin-top: 2em;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Fira Code";
  font-size: 1.2rem;
  z-index: 1;
  top: 2vh;
  left: 2vw;
  width: 68vw;
  height: 70vh;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
}

.summary-text {
  width: 62vw;
  color: #9cdcfe;
  text-align: left;
  display: flex;
}

.area {
  flex: 1;
  color: #ffffff80;
  padding-left: 8px;
  font-weight: 800;
}
.two-columns {
  list-style: none;
}
.key-skills {
  flex: 2;
}

.summary-heading {
  width: 68vw;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 2vh;
  text-decoration: underline #ce9178;
  color: #ce9178;
}

@media (min-width: 40rem) {
  .nav-menu {
    flex-direction: row;
  }
}

.nav-link {
  margin: 0 0.5rem;
  color: #ffffff80;
}

.nav-image {
  max-height: 5em;
  max-width: 5em;
  border: 0.3em solid #4d4d4d;
  border-radius: 59% 41% 76% 24% / 56% 54% 46% 44%;
  z-index: -2;
}

.name-box {
  font-size: 2.5em;
  letter-spacing: 3px;
  margin: 0.5em;
  text-decoration: underline #1177bb;
  color: #9cdcfe;
}
.name-box::first-letter {
  font-size: 2.6rem;
  color: #1177bb;
}
.header-bar {
  top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #4d4d4d;
  position: absolute;
  z-index: 100;
}

.footer-bar {
  bottom: 0;
  margin-bottom: 0;
}
.links-bar-spacer {
  flex: 2;
}
.links-bar {
  width: 78vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  z-index: 200;
}
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-height: 5em;
}

.menu-item {
  /* display: none; */
  flex: 1;
  /* display: block; */
  /* position: fixed; */
  color: #ffffff;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 1.6rem;
  z-index: 5;
}

.menu-item[data-menu-open="true"] {
  display: block;
  /* margin-right: 0px; */
  /* z-index: 6; */
}

.menu-item[data-menu-open="false"] {
  display: none;
  /* margin-right: -100px; */
  /* z-index: 4; */
}

.menu-item[data-menu-open="true"]:hover {
  background: #4d4d4d;
  color: black;
  border-radius: 0% 0% 8% 8% / 8% 8% 100% 100%;
}

.hamburger-nav {
  background: #4d4d4d;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  z-index: 1;
}

.menu li a {
  padding: 10px 20px;
  color: #9cdcfe;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
}
.menu li li:before {
  /* position: absolute; */
  content: "";
  inset: 0;
  border: solid 1px white;
  border-radius: 4px;
}
.menu li ~ li:after {
  /* position: absolute; */
  content: "";
  left: 0;
  right: 0;
  margin-bottom: 20px;
  /* inset: 0; */
  border-top: solid 1px white;
}

.menu li a:hover {
  text-decoration: underline;
  color: #fff;
}
.hamburger-nav input {
  width: 40px;
  aspect-ratio: 1;
  /* display: none; */
  overflow: hidden;
  margin: 10px 20px 10px auto;
  box-sizing: border-box;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.hamburger-nav input:before,
.hamburger-nav input:after {
  content: "";
  grid-area: 1/1;
  transition: 0.5s;
}
.hamburger-nav input:before {
  background: radial-gradient(closest-side at 12.5% 25%, #fff 96%, #0000) 0 0/80%
      40%,
    linear-gradient(#fff 50%, #0000 0) top/80% 40% repeat-y;
}
.hamburger-nav input:after {
  padding: 10%;
  background: radial-gradient(closest-side at 50% 12.5%, #fff 96%, #0000) top /
      20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #fff 96%, #0000) left/80% 20%
      repeat-x,
    conic-gradient(from 90deg at 33% 33%, #0000 90deg, #fff 0) 100% 100%/60% 60%
      padding-box content-box;
  transform: translate(-100%) translateZ(0) rotate(90deg);
  opacity: 0;
}
.hamburger-nav input:checked:before {
  transform: translate(100%);
  opacity: 0;
}
.hamburger-nav input:checked:after {
  transform: translate(0) translateZ(0) rotate(45deg);
  opacity: 1;
}

.hamburger-nav input {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.menu {
  width: fit-content;
  margin-top: 5rem;
  height: fit-content;
  margin-left: auto;
  padding: 16px;
  display: flex;
  list-style: none;

  position: fixed;
  background: inherit;
  flex-direction: column;
  position: fixed;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  transform: translate(0, -100%);
  opacity: 0;
  transition: 0.3s;
  inset: 0 0 0;
  background-color: #3a3d41;
  border-radius: 0% 0% 3% 3% / 0% 0% 3% 3%;
  z-index: 20;
}

.hamburger-nav input {
  display: grid;
  z-index: 3;
}
.hamburger-nav input:checked + .menu {
  transform: translate(0);
  opacity: 1;
}
